{% load button_group_tags %}
<div class="flex flex-col space-y-2 border border-y-4 border-white/10 rounded-lg p-4">
    <h4 class="text-lg font-bold text-center">Toggled Button Group with minimal styling</h4>
    <div id="minimal-toggled-button-group"
         data-active-class="p-4 bg-gray-200 text-black font-bold border-b-4 border-black/60"
         data-initial-active="2"
         class="flex gap-2 justify-center">
        <button class="bg-black p-2">Button 1</button>
        <button class="bg-black p-2">Button 2</button>
        <button class="bg-black p-2">Button 3</button>
        <button class="bg-black p-2">Button 4</button>
        <button class="bg-black p-2">Button 5</button>
    </div>
</div>
{% init_toggled_button_groups 'minimal' %}
