<button id="example-dropdown-1"
        data-active-class="bg-blue-800 hover:bg-blue-800 font-bold text-white border-b-4 flex-grow text-white/80 bg-blue-700"
        data-initial-active="random"
        class="flex flex-col p-2 bg-black/50 border-x border-white/10 rounded-lg shadow-md shadow-black/20 hover:bg-black/30 hover:text-white/80 transition-all duration-300 ease-in-out hover:from-blue-600 hover:to-blue-700 border-blue-600 hover:border-blue-200 focus:border-blue-200 active:text-opacity-60">
    I am a dropdown
    <button class="flex-1 text-center text-white/50 hover:text-white/80 hover:bg-blue-600/10 border-b-4 border-white/20 bg-blue-900/10 py-1 -mt-2">
        Button 1
    </button>
    <button class="flex-1 text-center text-white/50 hover:text-white/80">Button 2</button>
    <button class="flex-1 text-center text-white/50 hover:text-white/80">Button 3</button>
</button>
