{% for button_name, dropdown_navbar_item in navbar_items.items %}
    <div id="nav-button-{{ forloop.counter }}"
         class="flex-1 relative {{ dropdown_navbar_item.0.button_style }}">
        <button class="w-full">
            <p class="overflow-hidden truncate overflow-ellipsis">{{ button_name }}</p>
        </button>
        <div id="nav-dropdown-{{ forloop.counter }}"
             class="hidden opacity-0 {{ dropdown_navbar_item.0.dropdown_style }}">
            {% for item in dropdown_navbar_item %}
                <a href="{{ item.url }}"
                   class="flex-1 text-center {{ dropdown_navbar_item.0.option_style }}">{{ item.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endfor %}
