{% load content_toggle_tags string_enchants %}
<div class="flex flex-col bg-white/90 rounded-lg shadow-md hover:shadow-xl transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 overflow-hidden">
    <div class="h-2 bg-blue-500"></div>
    <div class="p-6 flex flex-col h-full flex-grow">
        <h2 class="flex-shrink-0 text-xl font-semibold mb-4 text-gray-800">{{ card.question.question }}</h2>
        <div class="flex flex-shrink-0 justify-between items-center mb-4">
            <span class="text-sm font-medium text-gray-600">{{ card.question.type }}</span>
            <span class="px-2 py-1 text-xs font-semibold rounded-full {% if card.question.difficulty == 'EASY' %} bg-green-100 text-green-800 {% elif card.question.difficulty == 'MEDIUM' %} bg-yellow-100 text-yellow-800 {% else %} bg-red-100 text-red-800 {% endif %}">
                {{ card.question.difficulty }}
            </span>
        </div>
        {% include 'FlashCardApp/sections/parts/forms/card_answer_form.html' with card=card %}
    </div>
</div>
{% init_content_toggles "card-from-deck-detail-"|concat:card.id %}
