<div class="flex flex-col items-start justify-start md:w-1/4 w-full bg-blue-900/10 active:text-white/90">
    <button class="p-1 font-bold text-center transition-all duration-200 ease-linear odd:bg-black/50 even:bg-gray-950/60 w-full py-2 opacity-80 hover:opacity-100 hover:cursor-pointer active:bg-white/10 active:text-white/80 active:py-3">
        Info
    </button>
    <button class="p-1 font-bold text-center transition-all duration-200 ease-linear odd:bg-black/50 even:bg-gray-950/60 w-full py-2 opacity-80 hover:opacity-100 hover:cursor-pointer active:bg-white/10 active:text-white/80 active:py-3">
        Blog
    </button>
    <button class="p-1 font-bold text-center transition-all duration-200 ease-linear odd:bg-black/50 even:bg-gray-950/60 w-full py-2 opacity-80 hover:opacity-100 hover:cursor-pointer active:bg-white/10 active:text-white/80 active:py-3">
        Forum
    </button>
    <button class="p-1 font-bold text-center transition-all duration-200 ease-linear odd:bg-black/50 even:bg-gray-950/60 w-full py-2 opacity-80 hover:opacity-100 hover:cursor-pointer active:bg-white/10 active:text-white/80 active:py-3">
        Learning
    </button>
</div>
