{% load static %}
<div class="bg-black/10 text-center bg-gradient-to-b from-black/20 from-0% via-blue-300/5 via-5% to-black/20 to-50%">
    <span class="text-sm text-white/30">Click to learn more about technologies used on this website</span>
    <div id="tech-info-toggled-button-group"
         data-active-class="bg-black/50 hover:bg-black/50 font-bold text-white border-b-4 border-white/20"
         data-initial-active="random"
         class="flex gap-4 p-2 px-6 w-full justify-evenly">
        <button id="django-info-button"
                hx-get="{% url 'BaseApp:django-info' %}"
                hx-target="#home-tech-info-output"
                hx-swap="innerHTML"
                class="flex-grow w-full text-base lg:text-lg px-4 md:px-8 py-4 border-x border-white/10 rounded-md transition-all duration-100 ease-linear bg-black/20  hover:bg-black/30">
            Django
        </button>
        <button id="tailwind-info-button"
                hx-get="{% url 'BaseApp:tailwind-info' %}"
                hx-target="#home-tech-info-output"
                hx-swap="innerHTML"
                class="flex-grow w-full text-base lg:text-lg px-4 md:px-8 py-4 border-x border-white/10 rounded-md transition-all duration-100 ease-linear bg-black/20  hover:bg-black/30">
            TailwindCSS
        </button>
        <button id="htmx-info-button"
                hx-get="{% url 'BaseApp:htmx-info' %}"
                hx-target="#home-tech-info-output"
                hx-swap="innerHTML"
                class="flex-grow w-full text-base lg:text-lg px-4 md:px-8 py-4 border-x border-white/10 rounded-md transition-all duration-100 ease-linear bg-black/20  hover:bg-black/30">
            HTMX
        </button>
    </div>
    <div class="border-b-4 border-white/10 rounded-b-lg pb-4 text-center w-full">
        <div class="prose transition-all duration-300 ease-linear h-auto text-white/40 w-full mx-auto"
             id="home-tech-info-output"></div>
    </div>
</div>
<script type="module">import { ToggledButtonGroup } from "{% static 'BaseApp/modules/ToggledButtonGroup.mjs' %}";
    ToggledButtonGroup.initAll("tech-info")
</script>
