{% load content_toggle_tags action_invoker_tags string_enchants %}
<div class="flex flex-col border border-y-4 border-white/10 rounded-lg p-4 bg-slate-900/50">
    <h3 class="text-lg font-bold text-center text-white mb-2">Multi-Toggle Panel</h3>
    <div class="flex flex-col gap-4">
        <div id="tech-info-button-container"
             class="flex flex-wrap justify-center gap-2">
            {% for i in "Backend-Framework,CSS-Framework,Hypermedia-Extension"|split:"," %}
                <button id="panel-{{ i }}-toggle-trigger"
                        class="flex justify-center text-base lg:text-lg px-4 py-4 border-x border-white/10 rounded-md transition-all duration-300 ease-in-out bg-black/20 hover:bg-black/30 text-white/50">
                    {{ i|replace:"-, " }}
                </button>
            {% endfor %}
        </div>
    </div>
    <div class="w-full">
        {% for i in "Backend-Framework,CSS-Framework,Hypermedia-Extension"|split:"," %}
            <div id="panel-{{ i }}-toggle-container"
                 data-trigger-event="click"
                 data-close-event="click"
                 data-active-class-for-button="flex-grow bg-black/50 hover:bg-black/50 font-bold text-white border-b-4 border-white/20"
                 data-active-class-for-content="max-h-96 opacity-100 mt-2 py-4"
                 data-delayed-active-class-for-content="px-16"
                 data-animation-delay="266"
                 data-toggle-type="class"
                 class="w-full">
                <div id="panel-{{ i }}-toggle-content"
                     class="max-h-0 opacity-0 mt-0 overflow-hidden px-4 bg-black/20 rounded-md transition-all duration-300 ease-in-out text-white">
                    This is the content for Panel {{ i }}. Each panel can have unique content.
                </div>
            </div>
            {% init_content_toggles "panel-"|concat:i %}
        {% endfor %}
    </div>
</div>
</div>
{% invoke_action "on-load" "click" "last" "tech-info-button-container" %}
