{% load static tailwind_tags django_htmx %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% tailwind_css %}
        <!-- Bootstrap Icons -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
        <meta charset="UTF-8" />
        <title>
            {% block title %}{{ title }}{% endblock %}
        </title>
        <script src="{% static 'BaseApp/htmx.min.js' %}" defer></script>
        {% django_htmx_script %}
    </head>
    {% include 'BaseApp/ui_elements/messages.html' %}
    {% include 'UsersApp/modals/profile_modal_main.html' %}
    <body class="bg-black text-white/50">
        <div class="flex flex-col">
            <!--Navbar-->
            {% include "BaseApp/navigation/top_navbar.html" %}
            <!-- Main Content -->
            <div class="flex-grow min-h-[94vh] p-4 background-color border-x-8 border-zinc-950 rounded-3xl bg-zinc-900">
                {% block content %}<!-- Child templates will insert content here -->{% endblock %}
            </div>
            <!-- Footer -->
            <div class="flex flex-col space-y-2">
                <div class="flex flex-grow w-full justify-center">Footer</div>
                <div class="flex flex-grow w-full justify-center">1</div>
                <div class="flex flex-grow w-full justify-center">2</div>
                <div class="flex flex-grow w-full justify-center">3</div>
            </div>
        </body>
        <script src="{% static 'BaseApp/utils.js' %}"></script>
        <script type="module">
        import { Modal } from "{% static 'BaseApp/modal_handler.mjs' %}";
        document.addEventListener('DOMContentLoaded', Modal.initAll);
        </script>
        {% block extra_js %}
        {% endblock %}
    </html>
