<div class="hidden 
    transition-all duration-200 ease-linear text-white/50
    my-2 pt-1 border-x rounded-md 
    md:text-base text-sm
    border-zinc-900
    hover:bg-black 
    border-zinc-900
    hover:border-zinc-800
    hover:text-white
    hover:font-bold
    hover:cursor-pointer
    hover:border-x-4 hover:rounded-lg hover:my-0 hover:pt-3
    "></div>
<div class="hidden 
    active
    transition-all duration-200 ease-linear text-black/50
    my-2 pt-1 border-x rounded-md 
    bg-red-500
    hover:bg-red-600
    border-red-800
    hover:border-zinc-800
    hover:text-black
    hover:font-bold
    hover:cursor-pointer
    hover:border-x-4 hover:rounded-lg hover:my-0 hover:pt-3
    "></div>
<div class="hidden 
    font-normal
    transition-all duration-200 ease-linear text-white/50 shadow-md shadow-black
    absolute top-full left-0 w-full flex flex-col border-x-2 rounded-b-md
    bg-black 
    border-zinc-800
    [&>a]:text-white/50
    hover:[&>a]:text-white
    hover:[&>a]:cursor-pointer
    [&>a]:bg-zinc-950
    hover:[&>a]:bg-black 
    shadow-md shadow-black
    "></div>
<div class="hidden 
    font-normal
    transition-all duration-200 ease-linear text-white/50 shadow-md shadow-black
    absolute top-full left-0 w-full flex flex-col border-x-2 rounded-b-md
    bg-green-500
    boder-green-800
    [&>a]:text-black/50 [&>a]:py-1
    hover:[&>a]:text-black
    hover:[&>a]:cursor-pointer
    [&>a]:bg-green-500
    hover:[&>a]:bg-green-700
    shadow-md shadow-black
    "></div>
<div class="hidden bg-zinc-900 bg-zinc-950 bg-black border-zinc-800 border-zinc-900 border-zinc-950 border-black"></div>
