{% if post.color == "red" %}
    bg-red-500/70
{% elif post.color == "orange" %}
    bg-orange-500/70
{% elif post.color == "yellow" %}
    bg-yellow-500/70
{% elif post.color == "green" %}
    bg-green-500/70
{% elif post.color == "teal" %}
    bg-teal-500/70
{% elif post.color == "blue" %}
    bg-blue-500/70
{% elif post.color == "indigo" %}
    bg-indigo-500/70
{% elif post.color == "purple" %}
    bg-purple-500/70
{% elif post.color == "pink" %}
    bg-pink-500/70
{% elif post.color == "gray" %}
    bg-gray-500/70
{% endif %}
