{% if post.color == "red" %}
    shadow-red-500/20
{% elif post.color == "orange" %}
    shadow-orange-500/20
{% elif post.color == "yellow" %}
    shadow-yellow-500/20
{% elif post.color == "green" %}
    shadow-green-500/20
{% elif post.color == "teal" %}
    shadow-teal-500/20
{% elif post.color == "blue" %}
    shadow-blue-500/20
{% elif post.color == "indigo" %}
    shadow-indigo-500/20
{% elif post.color == "purple" %}
    shadow-purple-500/20
{% elif post.color == "pink" %}
    shadow-pink-500/20
{% elif post.color == "gray" %}
    shadow-gray-500/20
{% endif %}
